@charset "utf-8";

// Import a Google Font
//@import url('https://fonts.googleapis.com/css?family=Nunito:400,700');
//@import url('https://fonts.googleapis.com/css?family=Bitter');
//@import url('https://fonts.googleapis.com/css?family=Quicksand');
@import url('https://fonts.googleapis.com/css?family=Cabin');



// Set your brand colors
$navy-color: rgba(0, 38, 38, 1);
$orange-color: rgba(241, 136, 5, 1);
$blue-color: rgba(14, 71, 73, 1);
$light-blue-color: rgba(80, 201, 206, 1);
$grey-color: rgba(239, 231, 218, 1);

// Update Bulma's global variables
$family-sans-serif: 'Cabin', sans-serif;
$primary: $blue-color;
$link: $orange-color;
$info: $light-blue-color;
$widescreen-enabled: false;
$fullhd-enabled: false;

// Update some of Bulma's component variables
//$body-background-color: $grey-color;
$control-border-width: 2px;
$input-border-color: transparent;
$input-shadow: none;

$accordion-header-background-color: $primary;

// Import only what you need from Bulma
@import "../../node_modules/bulma/sass/utilities/_all.sass";
@import "../../node_modules/bulma/sass/base/_all.sass";
@import "../../node_modules/bulma/sass/elements/container.sass";
@import "../../node_modules/bulma/sass/elements/content.sass";
@import "../../node_modules/bulma/sass/elements/image.sass";
@import "../../node_modules/bulma/sass/elements/title.sass";
@import "../../node_modules/bulma/sass/elements/form.sass";
@import "../../node_modules/bulma/sass/elements/button.sass";
@import "../../node_modules/bulma/sass/elements/box.sass";
@import "../../node_modules/bulma/sass/layout/_all.sass";
@import "../../node_modules/bulma/sass/components/navbar.sass";
@import "../../node_modules/bulma/sass/components/card.sass";
@import "../../node_modules/bulma/sass/components/level.sass";
@import "../../node_modules/bulma/sass/grid/columns.sass";
@import "../../node_modules/bulma/sass/grid/tiles.sass";
@import "../../node_modules/bulma-accordion/dist/css/bulma-accordion.sass";

.section {
  background-color: $grey-color;  
}

.navbar-item {
  color: $link;
}

.level-item {
  justify-content: center;
}

#map {
  height: 640px;
}

.tile {
  border-radius: 5px;
  padding: .7rem;
  color: white;
}
