section#about.section
  .container.has-text-centered
    h2.title.is-2
      | About 
    p
  .hr
  .container
    .columns
      .column.is-half
        .box
          .content
            p.is-size-5
              | This May, I graduated with a Computer Science degree from
              | Michigan State University. I started out as a business
              | major but everything changed during my sophomore year, when I
              | wrote my first python program. I've been hooked ever since.
            p.is-size-5
              | I currently work at the 
              a(href='https://frib.msu.edu', target='_blank') Facility for Rare Isotope Beams
              |  and am looking for new opportunties to add to my skillset.
            p.is-size-5
              | In my free time I like to spend time outside, read, and hang
              | with my family, friends, and pets!
      .column.is-half
        figure.image.is-3by4
          img(src=require('../../images/yellowstone.jpg'), alt='In the mountains east of Yellowstone')
