section#adventures.section
  .container.has-text-centered
    h2.title.is-2
      | Adventures
    p
  .container
    .columns
      .column.is-half
        figure.image.is-3by4
          img(src=require('../../images/golden_gate.jpg'), alt='Me and my friend Alpha at the Golden Gate Bridge')
      .column.is-half
        p.is-size-5
          | I love to travel and explore new places! I have taken a month
          | long road trip out west, backpacked in the Sispey Wilderness,
          | and hope to do a lot more!
        br
        a.button.is-link(href='adventures.html')
          | See where I've
          | been so far!

