nav.navbar.is-fixed-top(role='navigation', aria-label='main navigation')
  .container
    .navbar-brand
      a.navbar-item(href='/')
        img(src=require('../../images/logo.png'))
section#hero.hero.is-primary.is-medium.is-bold
  .hero-body
    .container.has-text-centered
      h1.title.is-1
        | The adventure page is under construction
      h3.subtitle.is-3
        | Come back later to check it out!
br
section
  .container
    p
    .level
      .level-item.has-text-centered
        a.button.is-link.is-large(href='/')
          | Take Me Back to the Good Stuff
section
  br
  .container
    #map
