section#contact.section
  .container.has-text-centered
    h2.title.is-2
      | Say Hello!
    p
  .container
    .columns
      .column.is-2
      .column.is-8
        form#contactForm
          .field
            label.label Name
            .control
              input#name-input.input(name='name', type='text', placeholder='Enter name here...')
            p#namehelp.help 
          .field
            label.label Email Address
            .control
              input#email-input.input(type='text', placeholder='Enter email here...', name='email')
            p#emailhelp.help 
          .field
            label.label Message
            .control
              textarea#message-input.textarea(name='content', placeholder='Enter message...')
            p#messagehelp.help 
          #toast
          .field.is-grouped
            .control
              button#submit.button.is-link(type='submit') Submit
            .control
              button#cancel.button.is-white Cancel

