section#experience.section
  .container.has-text-centered
    h2.title.is-2
      | Experience
    p
  .container
    .accordions
      article.accordion
        .accordion-header.toggle
          p.is-size-4 Facility For Rare Isotope Beams
          button.toggle(aria-label='toggle')
        .accordion-body
          .accordion-content
            p.is-size-5.has-text-weight-bold
              | Technical Aide - Diagnostics Controls Team (July 2018
              | - Present)
            ul
              li 
                | Developed Python program to estimate the energy and
                | velocity of the beam
              li 
                | Created control screens for neutron detectors, ion
                | chambers, BPMs, and halo ring monitors
              li 
                | Automated testing process for Machine Protection Team
                | with a Python script. Reduced testing time by 400%.
            p.is-size-5.has-text-weight-bold
              | Student Technical Aide - Diagnostics Controls Team (Aug 2017 - June 2018)
            ul
              li
                | Created Python program that monitors beam temperature
                | and detects fast changes
              li 
                | Automated the firmware update process which can take ~30
                | minutes per device. Script runs updates run in parallel.
      article.accordion
        .accordion-header.toggle
          p.is-size-4 BS&amp;A Software
          button.toggle(aria-label='toggle')
        .accordion-body
          .accordion-content
            p.is-size-5.has-text-weight-bold
              | Software Development Intern (May 2017 - August 2017)
            ul 
              li 
                | Independently solved and fixed an address formatting
                | issue for a new customer
              li 
                | Developed a database import option for Excel, CSV, and
                | Access files
      article.accordion
        .accordion-header.toggle
          p.is-size-4
            | Michigan State International Business Center
          button.toggle(aria-label='toggle')
        .accordion-body
          .accordion-content
            p.is-size-5.has-text-weight-bold
              | Student Web Developer - globaledge.msu.edu
              | (May 2016 - May 2017)
            ul 
              li
                | Refactored outdated code on back-end using several ASP.NET
                | design patterns
              li
                | Helped convert website to be responsive for a better
                | mobile experience
            p.is-size-5.has-text-weight-bold
              | Student Research Assistant - globaledge.msu.edu (August 2013 - May 2017)
            ul
              li
                | Manager of daily blog and co-editor of monthly newsletter
              li
                | Assistant for the Database of International Business
                | Statistics
      article.accordion
        .accordion-header.toggle
          p.is-size-4
            | Auto-Owners Insurance Company
          button.toggle(aria-label='toggle')
        .accordion-body
          .accordion-content
            p.is-size-5.has-text-weight-bold
              | Claims Systems Development Intern - Training and Change
              | Management Team (May 2015 - January 2016)
            ul
              li 
                | Helped release a new claims software system
              li
                | Created internal webpage to help train associates on the
                | new software system
  br

  .container.has-text-centered
    h4.is-size-3.has-text-weight-normal Publications
  .container.has-text-centered
    .content
      p.is-size-7
      .box
        p.has-text-weight-normal.is-size-5 
          | This September, I co-authored a conference proceeding for the 2018 International Beam Instrumentation Conference in Shanghai, China. Highlighted in the paper is a program and the algroithm developed by myself and Scott Cogan to estimate beam energy and velocity at specific locations along the beam-line.
        a.button.is-info(href='http://ibic2018.vrws.de/papers/tupc07.pdf',target='_blank') View Conference Proceeding
        p.is-size-7
        p.is-size-7
          | S. Cogan, J.L. Crisp, T.M. Ford, and S.M. Lidia, “First Results of Button BPMs at FRIB”, in Proc. IBIC'18, Shanghai, China, Sep. 2018, pp. 311-313, doi:10.18429/JACoW-IBIC2018-TUPC07
