section#experience.section
  .container.has-text-centered
    h2.title.is-2
      | Experience
    p
  .container
    .accordions
      article.accordion
        .accordion-header.toggle
          p.is-size-4 Facility For Rare Isotope Beams
          button.toggle(aria-label='toggle')
        .accordion-body
          .accordion-content
            p.is-size-5.has-text-weight-bold
              | Technical Aide - Diagnostics Controls Team (July 2018
              | - Present)
            ul
              | Developed Python program to estimate the energy and
              | velocity of the beam
            ul
              | Created front-end and back-end for neutron detector
              | control screens
            ul
              | Automated testing process for Machine Protection Team
              | with a Python script. Reduced testing time by 400%.
              p.is-size-5.has-text-weight-bold
                | Student Technical Aide - Diagnostics Controls Team (Aug 2017 - June 2018)
              ul
                | Created Python program that monitors beam temperature
                | and detects fast changes
              ul
                | Automated the firmware update process which can take ~30
                | minutes per device. Script runs updates run in parallel.
      article.accordion
        .accordion-header.toggle
          p.is-size-4 BS&A Software
          button.toggle(aria-label='toggle')
        .accordion-body
          .accordion-content
            p.is-size-5.has-text-weight-bold
              | Software Development Intern (May 2017 - August 2017)
            ul
              | Independently solved and fixed an address formatting
              | issue for a new customer
            ul
              | Developed a database import option for Excel, CSV, and
              | Access files
      article.accordion
        .accordion-header.toggle
          p.is-size-4
            | Michigan State International Business Center
          button.toggle(aria-label='toggle')
        .accordion-body
          .accordion-content
            p.is-size-5.has-text-weight-bold
              | Student Web Developer - globaledge.msu.edu
              | (May 2016 - May 2017)
            ul
              | Refactored outdated code on back-end using several ASP.NET
              | design patterns
            ul
              | Helped convert website to be responsive for a better
              | mobile experience
            p.is-size-5.has-text-weight-bold
              | Student Research Assistant - globaledge.msu.edu (August 2013 - May 2017)
            ul
              | Manager of daily blog and co-editor of monthly newsletter
            ul
              | Assistant for the Database of International Business
              | Statistics
      article.accordion
        .accordion-header.toggle
          p.is-size-4
            | Auto-Owners Insurance Company
          button.toggle(aria-label='toggle')
        .accordion-body
          .accordion-content
            p.is-size-5.has-text-weight-bold
              | Claims Systems Development Intern - Training and Change
              | Management Team (May 2015 - January 2016)
            ul
              | Helped release a new claims software system
            ul
              | Created internal webpage to help train associates on the
              | new software system

