footer.footer
  .level
    .level-item.has-text-centered
      div
        p © 2018 Tynan Ford
        br
        p
          a(href='https://bulma.io', target='_blank')
            img.image(src='./made-with-bulma.png', alt='Made with Bulma', width='256', height='48')


