section#hero.hero.is-primary.is-fullheight.is-bold
  .hero-body
    .container.has-text-centered
      h1.title.is-1
        | Hello, I'm Tynan!
      h3.subtitle.is-3
        | I am a software developer looking for cool things to work on
