section#school.section
  .container.has-text-centered
    h2.title.is-2 School 
    p
  .container
    .content
      .columns
        .column.is-6
          ul 
            li.is-size-4 CSE 415 - Parallel Computing
              p.is-size-6 OpenMP, MPI, CUDA programming on MSU HPC 
            li.is-size-4 CSE 420 - Computer Architecture
              p.is-size-6 Created pipelined MIPS microprocessor in C++ 
        .column.is-6
          ul 
            li.is-size-4 CSE 431 - Algorithm Engineering
              p.is-size-6 Implementation, optimization and analysis of algorithms 
            li.is-size-4 CSE 491 - Machine Learning
              p.is-size-6 Intro to mathematical concepts with implementation in Python

  br
  .container.has-text-centered
    h3.is-size-3 CSE 498 - Senior Capstone Project
    br
  .container.has-text-centered
    .content
      .columns
        .column.is-5
          .firgure.image.is-3by4
            img(src=require('../../images/chatbot.jpg'), alt='Humana Chatbot')
        .column.is-7
          p.is-size-5 
            | Back-end lead for 5-person team working on a 
            a(href='https://www.cse.msu.edu/~cse498/2017-08/projects/humana/', target='_blank') chatbot for Humana. 
            | Utilized Microsoft LUIS for natural language processing, Microsoft Bot Framework (C# .NET) for the back-end and ASP.NET Core MVC for the webpage and administrative portal.
          .firgure.image.is-3by2
            img(src=require('../../images/cap_arch.png'), alt='Capstone System Architecture')

  br 
  .container.has-text-centered
    .content
      .h4.is-size-4 HST 320 - Michigan History
      .columns
        .column.is-2
        .column.is-8
          p One of my favorite courses in college. I created a website for a project where we  had to pick a town in Michigan and research its history. I picked Cross Village, a small town on Lake Michigan north of Petosky and the best part was taking a fall weekend trip to the town to research and take pictures! 
      a.button.is-info(href='http://crossvillagemi.com', target='_blank')
        | View Michigan History Project
