section#skills.section
  .container.has-text-centered
    h2.title.is-2
      | Skills
    p
  .container
    .columns
      .column.is-one-quarter
        .content
          h4.is-4 Software Development
          ul
            li Python
            li C++
            li C# (.NET)
      .column.is-one-quarter
        .content
          h4.is-4 Web Development
          ul
            li HTML, CSS, Sass
            li Javascript, Webpack
            li ASP .NET MVC
      .column.is-one-quarter
        .content
          h4.is-4 Technologies
          ul
            li EPICS
            li Control System Studio
            li SQL Server
      .column.is-one-quarter
        .content
          h4.is-4 Tools
          ul
            li Linux
            li Git
            li Terminal
    br
  .container.has-text-centered
    .content
      h4.is-4 School Work
      ul CSE 415 - Parallel Computing
      ul CSE 420 - Computer Architecture
      ul CSE 431 - Algorithm Engineering
      ul CSE 491 - Machine Learning
      ul
        | CSE 498 - 
        a(href='https://www.cse.msu.edu/~cse498/2017-08/projects/humana/', target='_blank')
          | Collaborative Design

