section#skills.section
  .container.has-text-centered
    h2.title.is-2
      | Skills
    p
  .container
    .box
      .columns
        .column.is-one-quarter
          .content
            h4.is-4 Software Development
            ul
              li Python
              li C++
              li C# (.NET)
        .column.is-one-quarter
          .content
            h4.is-4 Web Development
            ul
              li HTML, CSS, Sass
              li Javascript, Webpack
              li ASP .NET MVC
        .column.is-one-quarter
          .content
            h4.is-4 Technologies
            ul
              li EPICS
              li Control System Studio
              li SQL Server
        .column.is-one-quarter
          .content
            h4.is-4 Tools
            ul
              li Linux
              li Git
              li Terminal
