extends layout
block content
  include includes/nav
  include includes/hero
  include includes/about
  include includes/skills
  include includes/experience
  include includes/school
  include includes/adventure
  include includes/contact
  include includes/footer
