doctype html
html(lang='en')
  include includes/head.pug
  body
    include includes/nav.pug
    include includes/hero.pug
    include includes/about.pug
    include includes/skills.pug
    include includes/experience.pug
    include includes/adventure.pug
    include includes/contact.pug
    include includes/footer.pug
